<head>
    <meta charset="utf-8">
	<title>This Website</title>
    <h1>{{pageTitle}}</h1>
    <a href= "/">Home </a><a>//</a>
    <a href= "/about">About</a><a>//</a>
    <a href= "/projects">Projects</a><a>//</a>

</head>